aiohttp
azure-ai-ml
azure-identity
azureml-mlflow
cryptography
dask
geopandas
kornia
lightning
matplotlib
mlflow
pybind11
pydantic
pydantic-settings
python-dotenv
pytorch-lightning>=2.1.2
pyyaml
rasterio
regex
rioxarray
scikit-learn
seaborn
segmentation-models-pytorch
timm
tqdm
ttach
urllib3
xarray
